@media (max-width: 768px) {
    .headerLeft {
        float: left;
        background: #105caa;
        padding-top: 6px;
        padding-bottom: 6px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        width: auto;
        text-transform: uppercase;
        margin-left: -15px;
    }

        .headerLeft span {
            padding: 12px 10px;
        }

    .filterHeader {
        display: none;
    }

    .filterContent {
        display: none;
    }

    .filterHeaderMobile {
        background-color: #105caa;
        color: #fff;
        padding-top: 6px;
        padding-bottom: 6px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        margin-left: 0px;
        width: auto;
        text-align: left;
    }

        .filterHeaderMobile span {
            padding: 12px 10px;
        }

    .filterContentMobile {
        background-color: #fff;
    }

        .filterContentMobile li {
            padding: 5px 0;
        }
}

@media (max-width: 1200px) and (min-width:768px) {
    .form-control {
        width: 500px;
    }

    .wideScreenForm {
        margin-top: 9%;
    }

    body{
        padding-top:100px;
        padding-bottom:20px;
    }

    .filter {
        background: #f9f9f9;
        border-bottom: 2px solid #105caa;
        /*width: 100%;*/
        margin-top: 7%;
    }

    .createAccountForm {
        margin-top: 7%;
    }

    .registerHeader {
        margin-top: 30px;
        margin-bottom: 2px;
    }

    .filter {
        background: #f9f9f9;
        border-bottom: 2px solid #105caa;
        /*width: 100%;*/
        margin-top: 10%;
    }
}

@media (min-width: 768px){
    .filterContentMobile {
        display: none;
    }

    .filterHeaderMobile {
        display: none;
    }

    .filterContent a{
        text-decoration:none;
        margin-left:20px;
    }
}