body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input, select,
textarea {
    max-width: 100%;
}

.searchBox {
    /*padding-top: 5%;
    padding-bottom: 5%;*/
}

.header {
    background: #f9f9f9;
    border-bottom: 2px solid #105caa;
    /*width: 100%;*/
    margin-top: 2%;
}

.filterHeader {
    background-color: #105caa;
    color: #fff;
    padding-top: 6px;
    padding-bottom: 6px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin-left: -10px;
    width: 160px;
    text-align: left;
}

    .filterHeader span {
        padding: 12px 10px;
    }

.filterContent {
    background-color: #fff;
}

    .filterContent li {
        padding: 5px 0;
        list-style: none;
    }

    .filterContent a {
        text-decoration: none;
        margin-left: 50px;
    }

/*.filterLeft {
    background: #105caa;
    padding-top: 6px;
    padding-bottom: 6px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    width: 210px;
    text-transform: uppercase;
}

    .filterLeft span {
        padding: 12px 10px;
    }*/

.headerContent {
    background-color: #fff;
}

.specificTypeHeaderContent {
    background-color: #fff;
    border-bottom: 2px solid #105caa;
}

.specificTypeHeaderContentLeft {
    background: #105caa;
    padding-top: 6px;
    padding-bottom: 6px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    width: 210px;
    text-transform: uppercase;
}

    .specificTypeHeaderContentLeft span {
        padding: 12px 10px;
    }

.headerLeft {
    float: left;
    background: #105caa;
    padding-top: 6px;
    padding-bottom: 6px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    width: 210px;
    text-transform: uppercase;
    margin-left: -15px;
}

    .headerLeft span {
        padding: 12px 10px;
    }

.headerRight {
    float: right;
}

    .headerRight a {
        text-decoration: none;
        vertical-align: -webkit-baseline-middle;
    }

.viewDetail {
    color: #fff;
    padding: 5px;
    text-align: center;
    height: auto;
    border: 1px solid #d97f00;
    background: -webkit-linear-gradient(top,#f89406,#f76b1c);
    border-radius: 3px;
    display: block;
}

.cell {
    border-bottom: ridge;
    padding-top: 10px;
    background-color: white;
}

.cellInfo {
    display: block;
    background: #f8f8f8;
    padding: 2% 0;
    color: #fff;
    position: absolute;
}

.cell span {
    display: block;
    padding: 2px 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.cell strong {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.detail {
    display: block;
    padding: 2px 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.productPrice {
    color: red;
    font-size: large;
}

.createAccountForm {
    align-content: center;
}

form {
    margin: 0px 10px;
}

.registerHeader {
    margin-top: 10px;
    margin-bottom: 2px;
}

.containerRegister {
    max-width: 360px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 2%;
}

.registerInput {
    width: 500px;
}

.validationError ul {
    list-style: none;
    margin-left: -35px;
}

/*@media (min-width: 1201px) {
    .form-control {
        width: auto;
    }
}*/

